.whereisit {
}

.whereisit-filter__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 2rem;
    gap: 1rem;
}

.whereisit-filter__col {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.whereisit-filter__select {
    padding: 6px 10px;
}

.whereisit-filter__button {
    background: #eee;
    padding: 10px 20px;

    &:hover {
        background: silver;
    }
}

.whereisit-filter__reset {
    background: #eee;
    padding: 10px 20px;

    &:hover {
        background: silver;
    }
}

.whereisit-table {
    th, td {
    }

    th {
    }

    tr:hover {
    }
}
