<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ce="http://typo3.org/ns/Npostnik/Ceoverview/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="whereisit" href="EXT:whereisit/Resources/Public/Css/styles.css" />
<f:asset.script identifier="whereisit-js" src="EXT:whereisit/Resources/Public/JavaScript/whereisit.js" />

<div class="whereisit">
    <f:form action="list" method="post">
        <div class="whereisit-filter__row">
            <div class="whereisit-filter__col whereisit-filter__col--ctype">
                <label class="form-label">Inhaltselement</label>
                <f:form.select options="{cTypeOptions}"
                               class="whereisit-filter__select"
                               name="cType"
                               value="{cType}"
                               prependOptionLabel="Alle" prependOptionValue=""
                               optionValueField="value" optionLabelField="label"/>
            </div>
            <div class="whereisit-filter__col whereisit-filter__col--submit">
                <f:form.button class="whereisit-filter__button btn" name="submit">Anzeigen</f:form.button>
            </div>
            <div class="whereisit-filter__col whereisit-filter__col--reset">
                <f:link.action action="list" class="whereisit-filter__reset btn">Reset</f:link.action>
            </div>
        </div>

        <f:if condition="{message}">
            <p>{message}</p>
        </f:if>

        <f:if condition="{contentElements}">
            <p>Wenn kein Link ausgegeben wird, dann ist die Seite nicht sichtbar. Wenn beim Link das Element nicht
                angesprungen ist, dann ist der Container ausgeblendet.</p>
            <table class="whereisit-table table table-striped">
                <thead>
                <tr>
                    <th colspan="2">Seite</th>
                    <th colspan="2">Content</th>
                    <th></th>
                </tr>
                </thead>
                <f:for each="{contentElements}" as="contentElement">
                    <tr>
                        <td>{contentElement.pid}</td>
                        <td>
                            {contentElement.pageTitle}<br />
                            <small>{contentElement.slug}</small>
                        </td>
                        <td>{contentElement.uid}</td>
                        <td>
                            <f:format.stripTags>{contentElement.header}</f:format.stripTags>
                        </td>
                        <td>
                            <f:link.page pageUid="{contentElement.pid}" section="c{contentElement.uid}"
                                         target="_blank">Link
                            </f:link.page>
                        </td>
                        <td>
                            <input type="checkbox" />
                        </td>
                    </tr>
                </f:for>
            </table>
        </f:if>
    </f:form>
</div>
